<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<header>
    <h1>Recycle</h1>
</header>
<body>
    <div class="form-container">
        <h2>Login</h2>
        <form method="post">
            {% if form.non_field_errors %}
                <div class="error">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Login</button>
        </form>

    </div>

</body>
</html>
