<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>Nueva orden</title>
</head>
<header>
    <h1>Recycle</h1>
</header>
<body>
    <div class="form-container">
        <h2>Nueva Orden</h2>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="{% if message.tags %}{{ message.tags }}{% endif %}">
                        <span class="icon">{% if message.tags == 'error' %}❌{% elif message.tags == 'success' %}✅{% endif %}</span>
                        {{ message }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        <form action="" method="post">
            {% csrf_token %}
            {{ form }}
            <button type="submit">Enviar</button>
        </form>
    </div>
</body>
</html>
